@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
  --mobile: 375px;
  --desktop: 1440px;
  --primaryColor: #26c0ab;
  --rightGreen: #00474B;
  --adorableGreen: #9FE8DF;
  --rightGreen35: rgba(0, 71, 75, 0.35);
  --color1: #00494d;
  --color2: #5e7a7d;
  --color3: #7f9c9f;
  --inputIconColor: #9EBBBD;
  --inputBgColor: #F3F9FA;
  --lightTeal: #c5e4e7;
  --color5: #f4fafa;
  --errorRed: #E17457;
  --white: #ffffff;
  --mainBgColor: var(--lightTeal);
  --fontSizeFormInputs: 24px;
  --font-family: 'Space Mono', sans-serif;
  --fontWeightRegular: 400;
  --fontWeightBold: 700;
}

*, *:before, *:after {
  box-sizing: border-box;
  font-family: var(--font-family);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--rightGreen35);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--rightGreen35);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--rightGreen35);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

div.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.spacer {
  height: 100%;
}

.spacer:first-of-type {
  min-height: 40px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: var(--color2);
}

input[type="text"] {
  background: var(--inputBgColor);
  border: 2px solid var(--inputBgColor);
  color: var(--rightGreen);
  font-weight: bold;
  height: 48px;
  width: 100%;
  border-radius: 5px;
  padding: 16px;
  font-size: 24px;
  text-align: right;
  position: relative;
  outline: none;
}

input[type="text"]:focus {
  border: 2px solid var(--primaryColor);
  outline: none;
}

button:active {
  background: var(--adorableGreen) !important;
  color: var(--rightGreen) !important;
}

button:hover {
  cursor: pointer;
}

input:active {
  border-color: var(--adorableGreen) !important;
}

#bill.icon-input {
  padding-left: 40px;
}

#people.icon-input {
  padding-left: 45px;
}

input.invalid-input {
  border: 2px solid var(--errorRed);
}

.bill-input-wrapper, .tip-container {
  margin-bottom: 40px;
}

.bill-input-wrapper, .people-input-wrapper {
  position: relative;
}

.bill-input-wrapper:before {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  left: 12px;
  width: 16px;
  height: 24px;
  z-index: 10;
  background-image: url('../images/icon-dollar.svg');
  background-size: cover;
  user-select: none;
  pointer-events: none;
}

.people-input-wrapper:before {
  content: '';
  position: absolute;
  top: calc(50% - 12px);
  height: 24px;
  width: 21px;
  left: 12px;
  z-index: 10;
  background-image: url('../images/icon-person.svg');
  background-size: cover;
  user-select: none;
  pointer-events: none;
}

.validation {
  color: var(--errorRed);
}

.logo-container {
  height: 100%;
  width: 100%;
  max-width: 920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img.logo {
  height: 50px;
  width: auto;
  margin-bottom: 80px;
}

.calculator-container {
  width: 100%;
  display: grid;
  grid-template-columns: calc(50% - 16px) calc(50% - 16px);
  grid-template-rows: auto;
  grid-column-gap: 32px;
  background-color: var(--white);
  border-radius: 25px;
  padding: 32px;
  max-width: 920px;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
}

.label-line {
  display: flex;
  justify-content: space-between;
}

.label-line label {
  line-height: 24px;
  margin-bottom: 16px;
}

.tip-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.tip-container button {
  border: none;
  background: var(--rightGreen);
  color: var(--white);
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  border-radius: 5px;
  height: 48px;
}

.tip-container button.selected {
  background: var(--primaryColor);
  color: var(--rightGreen);
}

.tip-container input.tip-option {
  font-family: var(--font-family);
  max-height: 48px;
  font-weight: bold;
}

.tip-container input.tip-option.active {
  background: var(--primaryColor);
}

.calculations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--rightGreen);
  padding: 48px;
  border-radius: 15px;
}

.calculations-lines {
  margin-bottom: 32px;
}

.calculations .line {
  display: flex;
  justify-content: space-between;
  color: var(--primaryColor);
  width: 100%;
  overflow: hidden;
}

.calculations .line:first-of-type {
  margin-bottom: 40px;
}

.value {
  font-size: 48px;
  line-height: 1;
  max-width: 70%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-wrap: nowrap;
}

.calculations .line .label {
  display: flex;
  flex-direction: column;
  color: var(--white);
  flex-shrink: 0;
}

.calculations .line .label span {
  color: var(--color3);
}

.calculations .reset-btn {
  border: none;
  font-size: 20px;
  height: 48px;
  width: 100%;
  background: var(--primaryColor);
  color: var(--rightGreen);
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.calculations .reset-btn:hover {
  cursor: pointer;
}

@media (max-width: 940px) {
  .calculator-container {
    max-width: 375px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 32px;
  }

  .tip-container {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  .value {
    font-size: 32px;
  }
}

@media (max-width: 375px) {
  .calculator-container {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}